.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/Barber/Barber_Limits_Data.csv
/collateral/*
!/collateral/CCI.htm
!/collateral/CRI.htm
/data/Replication
/data/ 
/data/Replication/AltLassenJLEO.dta
/FEC
/Lentz comments for Hand (1).docx
